In [51]:


import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

In [52]:
filenames = ['42_15_7_5_200_500_100_3_6_uniform_equal_split_0.01_0.1_0.8_02.11.2022_14.49.19.txt',
             '42_15_7_5_200_500_100_3_6_uniform_equal_split_0.01_0.2_0.7_02.11.2022_14.48.17.txt',
             '42_15_7_5_200_500_100_3_6_uniform_equal_split_0.01_0.3_0.6_02.11.2022_14.38.05.txt',
             '42_15_7_5_200_500_100_3_6_uniform_equal_split_0.01_0.4_0.5_02.11.2022_14.38.29.txt']
df_names =['10e80m','20e70m','30e60m','40e50m']  
log_dir_path = os.path.join('logs')
dfs =[]
i =0
for fileName in filenames:
    
    load_path = os.path.join(log_dir_path,fileName)
    tmp_df = pd.read_csv(filepath_or_buffer=load_path)
    tmp_df.name =df_names[i]
    dfs.append(tmp_df)
    i+=1

In [13]:
dfs[0].describe()

              gen        maxR        avgR            dT       aT(ms)
count  200.000000  200.000000  200.000000    200.000000   200.000000
mean   100.500000  463.723500  346.296000   6483.530000   713.286000
std     57.879185   51.675259   95.469487   4481.760039   201.136971
min      1.000000  116.100000   20.400000      3.700000    36.600000
25%     50.750000  467.800000  281.325000   2282.675000   657.750000
50%    100.500000  480.550000  378.950000   6197.850000   740.400000
75%    150.250000  489.400000  419.375000  10565.800000   845.500000
max    200.000000  497.600000  444.600000  14267.800000  1110.500000

In [11]:
dfs[1].describe()

              gen        maxR        avgR            dT       aT(ms)
count  200.000000  200.000000  200.000000    200.000000   200.000000
mean   100.500000  344.653000  244.675500   3924.310000   530.586000
std     57.879185  149.845745  131.953436   3306.290529   268.819836
min      1.000000   93.800000   22.400000      4.200000    41.800000
25%     50.750000  198.775000  135.575000    986.125000   315.950000
50%    100.500000  454.900000  306.650000   2913.800000   594.000000
75%    150.250000  486.050000  365.725000   6669.950000   765.850000
max    200.000000  497.200000  425.700000  10613.400000  1062.300000

In [60]:
plt.rcParams['figure.figwidth'] = 200
for df in dfs:
    plt.plot(df['maxR'],label = df.name + ' max reward', linestyle = '-' )
    plt.plot(df['avgR'],label = df.name + ' avg reward', linestyle = '--')
plt.legend()
plt.show()

ValueError: Key figure.figsize: Expected str or other non-set iterable, but got 200